body{
    background-color:powderblue;
}
hr{
    border-style:none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height:0px;
    width:10%;
}
h1{
color: black;
font-family: Arial, Helvetica, sans-serif ;
}
h3{
color: red;
}
